<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties></Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%X{user} -- %d{HH:mm:ss} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Console>

        <File name="FileAppender" fileName="logs/app.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>

        <File name="MonitorFile" fileName="monitor/app-monitor.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>
    <Loggers>
        <Root level = "info">
            <AppenderRef ref="Console"/>
<!--            <AppenderRef ref="FileAppender"/>-->
        </Root>
<!--        <Logger name="springfox.documentation" level="error"/>
        <Logger name="org.apache" level="error"/>-->
    </Loggers>
</Configuration>